.content-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .col {
        width: 100%;
    }

    .left {
        align-items: flex-start;
    }

    .center {
        align-items: center;
    }

    button, a {
        text-decoration: none;
    }

    .campo {
        width: 170px;
    }
}